.Profils{
    margin-left: auto;
    margin-right: auto;
    padding-top : 100px;
    width: 50%;
}

.wrapper{
    border-style : groove;
    padding : 10px 5px 5px 10px;
    font-weight: 100;
}

.ProfilPic{
    border-radius: 500px;
    height: 20em;
    widows: 20em;
    width: 350px;;
}

.mesCol{
    column-count: 2;
    column-gap: 50px;
    text-align: justify;
    padding-left: 30px;
    padding-top: 20px;
    font:13px Arial;
}

.Date{
    padding-top: 20px;
}

.Publi{
    border-style : groove;
    padding : 10px 5px 5px 10px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: left;
    font:13px Arial;
}

.btnStyle{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 450px;
    padding:6px 3px 6px 3px;
	font:bold 13px Arial;
    color: palevioletred;
    border-radius:2px;
    border: none;
}

.btnStyle:hover{
    border-top: 3px solid plum;
    background-color: plum;
    cursor: pointer;
}

.btnTop{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 450px;
    padding:6px 3px 6px 3px; 
	font:bold 13px Arial;
    color: palevioletred;
    border-radius:2px;
    border: none;
}

.btnTop:hover{
    border-top: 3px solid plum;
    background-color: plum;
    cursor: pointer;
}